* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  div.page-wrapper {
    border: 1px solid black;
    width:30%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    div {
      &.grid {
        width:10%;
        height: 5%;
        border: 1px solid orange;
        font-size: 10px;
      }
    }
  }
}

.filled {
  background-color: red;
}
