* {
  box-sizing: border-box;
}

body {
  background: url('../image/tetrisbg2.jpg');
  height: 95vh;
  width: 95vw;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  div.heading{
    font-family: 'Press Start 2P', cursive;
    height: 15%;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-size: 100px;
    text-transform: uppercase;
    background: linear-gradient(to right, #e73827 0%, #ffa200 20%, #f5d60c 40%, #71f05d 60%, #345bf7 80%, #a936f5 100% );
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
    }
    div.heading:hover{
      transition: transform .8s ease-in-out;
      transform: rotate(-3deg) scale(1.03);
  }
  div.gameboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 80%;
    width: 100%;
    div.highestscore{
      font-size: 60px;
      text-transform: uppercase;
      color: white;
      width: 37.5%;
      font-family: 'Press Start 2P', cursive;
    }
    div.scoreboard{
      display: flex;
      flex-wrap: wrap;
      width: 37.5%;
      margin-top: 10px;
      div.score{
        font-size: 60px;
        text-transform: uppercase;
        color: white;
        margin-left: 60px;
        height: 30%;
        font-family: 'Press Start 2P', cursive;
      }
      // div.play-again{
      //   display: none;
      //   margin-left: 60px;
      //   height: 40%;
      //   font-family: 'Press Start 2P', cursive;
      //   font-size: 60px;
      //   text-transform: uppercase;
      //   color: purple;
      // }
    }
    div.wrap{
      width: 25%;
      div.play-again{
        width: 100%;
        height: 100%;
        font-family: 'Press Start 2P', cursive;
        font-size: 60px;
        text-transform: uppercase;
        padding-top: 200px;
        color: purple;
        display: none;
      }
      div.page-wrapper {
        border: 1px solid black;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
        box-shadow: 2px 3px 50px 20px rgba(255,255,255,0.8);
        // display: none;
        div {
          &.grid {
            width: 10%;
            height: 5%;
            border: 1px dotted lighten(white, 30%);
            font-size: 10px;
            color: black;
          }
        }
      }
    }

  }
}

.filled {
  background-color: red;
  border: 2px solid black;
  // box-shadow: 0px 0px 51px -5px rgba(255,255,255,1);
}

.occupied {
  background-color: blue;
  // box-shadow: 0px 0px 51px -5px rgba(255,255,255,1);
}
